.navbar-ua {

    
    height: 7rem;
    background-color: transparent;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-bottom: 0;

    align-self: flex-start;


    &__link {
    
    &:link,
    &:visited,
    & {
        margin-top: 0.5rem;
        margin-right: 7rem;
        color: #fff;
        font-family: $headers-font;
        font-weight: 300;
        font-size: 1.8rem;
        text-decoration: none;
        
    }
        &:hover {
            border-bottom: 1px solid #fff;
            text-decoration: none;
            color: #fff;
        }
    }
}

.dropdown-toggle {
    font-size: 3.5rem;
    margin-right: 3rem;
}

.navbar-ua-dropdown-menu {
    margin-right: 1rem;

    font-size: 2.5rem;
    font-family: $headers-font;
}

// .dropdown_links {
//     padding: 2rem;
// }


.hide-tab {
    @include respond(tab-port) {
        display: none;
    }
}
.show-nav-small {
    @include respond(tab-port) {
        display: flex !important;
    }
}

.hide-phone {
    @include respond(phone) {
        display: none;
    }
}