.home-banner {
    background-image: linear-gradient(right bottom, rgba(0,0,0, 0.3), rgba(0,0,0, 0.3)), url('/images/flag.jpg');
    background-size: cover;
    height: 90vh;
    // display: flex;
    // justify-content: center;
    // align-items: center;
    position: relative;

    &__content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    &__logo {
        height: 12rem;
    }

    &__title {
        margin-top: -1.5rem;
        font-size: 6.5rem;
        font-weight: 400;
        text-align: center;

        &-main {
            display: block;
        }

        &-sub {
            display: block;
            margin-top: 0.5rem;
        }
    }
}

.heading-secondary {
        text-transform: uppercase;
        font-size: 3.5rem;
        font-weight: 700;
        display: inline-block;
        background-image: linear-gradient(to right, $color-primary-blue, $color-primary-yellow);
        -webkit-background-clip: text;
        color: transparent;
        margin-bottom: 7rem;
    }

.about-us {
    padding-top: 5rem;
    padding-bottom: 10rem;

    &__description {
    }

    &__img-h3 {
        display: flex;
        align-items: center;
        // justify-content: flex-start;
        // margin-bottom: 1.5rem;
        padding: 1.5rem 0;
    }   

    &__h3 {
        color: $color-grey;
        font-weight: 700;
        text-transform: uppercase;
        margin-top: 0;
        margin-bottom: 0;
        margin-left: 2.5rem;
        font-size: 2.5rem;
    }

    &__text {
        color: $color-grey;
        font-size: $font-base;
        font-family: $headers-font;
    }

    &__image-small {
        width: 5rem;
    }


    &__box {
        max-width: 119rem;
        margin-right: auto;
        margin-left: auto;
        padding-left: 0;
        padding-right: 0;
    }

    &__qmul {
        height: 11rem;
    }


    &__flex {
        display: flex;
        justify-content: center;
        align-items: center;

        &:not(:last-child) {
            margin-bottom: 10rem;
        }
    }

    &__item-1 {
        flex: 0 0 50%;
        margin-right: auto;
    }

    &__item-3 {
        flex: 0 0 50%;
        margin-right: auto;
    }


    &__society {
        height: 20rem;
    }
}